body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.translucent-table {
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.7; /* Adjust the opacity value as needed */
  margin: 0 auto;
  width: 100%;
}

.center-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust this value as needed for your design */
}
